# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# VSCode
.vscode/

# Environment
env/
venv/
.venv/

# Data
data/
*.csv
*.xlsx
*.sqlite
*.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
