# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# VSCode
.vscode/

# Environment
.env
env/
venv/
.venv/

#data
data/baseball.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
